#club
  button#goToCrowd Select New Song
  button#leaveClub Leave Club
  #crowd
    #chooser.modal
      h2 Choose a song:
      ul
        - for(var i in songs)
          li
            a(href="javascript:club.initSong('#{songs[i].ytid}')") #{songs[i].name}
  #stage
    #videoPlayer(style="display: none")
    #time
    #tips Tips: $
      span#tip_amount 0
    #streak Streak: 
      span#streak_amount 0
    #volume Volume:
      span#volume_amount 0
    #play-area
      #vis
    div(style="position:absolute")
      button(onclick="club.player.playVideo()") Play
      button(onclick="club.player.pauseVideo()") Stop
      button(onclick="club.player.seekTo(5)") Go back to 5
      button(onclick="club.player.seekTo(45)") Jump into the middle

audio#fuckup_chord0(preload=true)
  source(src="/sounds/fuckup_chord0_0.wav", type="audio/wav")
audio#fuckup_chord1(preload=true)
  source(src="/sounds/fuckup_chord1_0.wav", type="audio/wav")
audio#fuckup_chord2(preload=true)
  source(src="/sounds/fuckup_chord2_0.wav", type="audio/wav")
audio#fuckup_chord3(preload=true)
  source(src="/sounds/fuckup_chord3_0.wav", type="audio/wav")
audio#fuckup_chord4(preload=true)
  source(src="/sounds/fuckup_chord4_0.wav", type="audio/wav")
audio#fuckup_chord5(preload=true)
  source(src="/sounds/fuckup_chord5_0.wav", type="audio/wav")
audio#boo_1(preload=true)
  source(src="/sounds/boo-03.wav", type="audio/wav")
audio#boo_2(preload=true)
  source(src="/sounds/boohiss-01.wav", type="audio/wav")
audio#cheer_1(preload=true)
  source(src="/sounds/applause-light-02.wav", type="audio/wav")
audio#cheer_2(preload=true)
  source(src="/sounds/cheer-02.wav", type="audio/wav")

script(src='http://www.youtube.com/player_api', type='text/javascript')

script
  setTimeout(function() {
    club.init();
  
    $("#goToCrowd").click(function(){
      club.player.pauseVideo();
      $('#club').removeClass('stage');
    });
    
    $("#leaveClub").click(function(){
      window.location = '/';
    });
  }, 1000);
  